<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Users {{ title }}!
  </h1>
  <div class='menu d-flex justify-content-start'>
  <a routerLink=''routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink='cart' routerLinkActive='active'>Cart</a>
  </div>
  <router-outlet></router-outlet>
  <!-- <h2>Count:{{counter}}</h2> -->
  <div class="container-fluid">
    <!-- <button class='btn btn-success'>Button</button> -->
    <div class="myforms">
      <input 
    type='text' 
    class='form-control'
    placeholder="userName"
    [(ngModel)]="userName"
    >
    <input 
    type='text' 
    class='form-control'
    placeholder="userAge"
    [(ngModel)]="userAge"
    >
    <input 
    type="button" 
    class='btn btn-success'
    value='addUser'
    (click)='addUser(userName,userAge)'
    >
    </div>
    

    <div class="row">
      <div class='col-md-4'*ngFor='let item of users'>
          <app-user [user]='item' (eventUsers)='loadUsers()'></app-user>
      </div>
      
    </div>
  </div>
<!-- <app-new [name]='title'>
  <p class='.p'>sendData-{{content}}</p>
  <div>test</div>
</app-new>
<app-counter (boolEvent)='changeCount($event)'></app-counter>
<app-parent></app-parent> -->